<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center" class="title-box" >
  <h1>
    Testes & Angular
    <h4>for DEVS</h4>
  </h1>

</div>
<div class="subtitle-box">
  <h2>Um pouco sobre testes e as ferramentas que o Angular oferece para garantir maior qualidade no desenvolvimento de aplicações.</h2>
</div>-->

<div class="link-list" style="text-align:center" >
  <span><a href="increase-component">Increase Component</a></span>
  <span><a href="ship-list"> Ship List Component</a></span>
  <span><a href="concat-component">Concat Component</a></span>
</div>
<router-outlet></router-outlet>
